{% extends 'base.html.twig' %}

{% block body %}
    <img class="img_acc" src="{{ asset('img/posters/mariage2.jpg') }}" alt="photo_mariage2">
    <h1>Organisation de mariages d'exception</h1>
{% endblock %}

{% block title %}{{ parent() }} | ACCUEIL{% endblock %}