{% extends 'base.html.twig' %}

{% block body %}
    <img class="img_acc" src="{{ asset('css/img/posters/220721161358.jpg') }}">
    <h1>Organisation de mariages d'exception</h1>
{% endblock %}

{% block title %}{{ parent() }} | ACCUEIL{% endblock %}