body {
   background-color: #ffffff;
   background-attachment: fixed;
   color: #0f0f0e;
   font-family: 'Crimson Text', serif;
}

.container {
   max-width: 1000px;
   margin: auto;
   padding: 5px;
   text-align: center;
}

a {
   color: #ff7f9c;
   text-decoration: none;
}

a:hover {
   color: #ff7f9c;
}

.button:hover {
   background-color: #e75a83;
}

img {
   max-width: 100%;
}

body > .container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header img {
   height: 100px;
}

main {
   flex: 1;
}

nav ul {
   display: flex;
   list-style: none;
   padding-left: 0;
}

nav li {
   margin-right: 1rem;
}

.presto-container {
   background-color: beige;
   padding: 20px;
}

.presto {
   background-color: #f8f8f8;
   border-radius: 4px;
   padding: 20px;
   margin-bottom: 20px;
}

.presto-title {
   color: #ff7f9c;
}

.presto-description {
   color: #555;
}

.pres-title {
   color: #ff7f9c;
}

h1 {
font-family: 'Italianno', cursive;
   font-weight: normal;
   font-size: 50px;

}

label{
   display: block;
}

input,
textarea,
select {
   margin-bottom: 1rem;
   box-sizing: border-box;
   width: 50%;
   min-width: 150px;
}

.img_acc{
   max-width: 100%;
   min-width: 150px;
}
.apropos {
   font-size: 20px;
}
.img-apropos{
   float: left;
   width: 30%;
}

.youtube{
   position: relative;
}