{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <img class="img-apropos" src="{{ asset('img/posters/modeleApropos.jpg') }}">
<p class="apropos">Depuis toujours, j’apprécie que chaque événement soit bien organisé pour pouvoir en profiter encore plus le moment venu. Originaire du Sud Ouest de la France, j’aime la convivialité des événements qui savent allier élégance et originalité.

    Durant plusieurs années, j’ai eu la chance d’accompagner des entreprises mais aussi des particuliers en tant que Cheffe de Projet événementiel, notamment chez des traiteurs-organisateurs de réceptions, ou en hôtellerie de luxe.

    Après avoir été diplômée de la Formation Wedding en 2020, j’ai créé Mamma Mia events à mon image, mais aussi à l’image des clients que j’affectionne : une agence de wedding planner provence dynamique, avec du pep’s, en mettant la créativité et la modernité à l’honneur.</p>

    <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/5nfE9OQRDuA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}
