{% extends 'base.html.twig' %}


{% block title %}GALERIES{% endblock %}

{% block content %}
    <h1>Galerie de photos</h1>

    {% for photo in photos %}
        <img src="{{ asset(photo.cheminImg) }}" alt="{{ photo.nom }}">
    {% endfor %}
{% endblock %}


