{% extends 'base.html.twig' %}

{% block title %}
Create a new prestation | {{ parent() }}
{% endblock %}

{% block body %}
<div>
    {# todo: afficher formulaire de creation uniquement visible admin #}
</div>
{% endblock %}

