{% extends 'base.html.twig' %}

{% block title %}
Create a new prestation | {{ parent() }}
{% endblock %}

{% block body %}
<div>
    {{form_start(prestationForm)}}
    {{form_widget(prestationForm)}}
    <button>Valider</button>
    {{form_end(prestationForm)}}
</div>
{% endblock %}

