{% extends 'base.html.twig' %}

{% block title %}
todo afficher le titre de la préstation | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo: le titre de la préstation</h2>

    {# todo:afficher toutes les infos de la présta #}
{% endblock %}

