{% extends 'base.html.twig' %}

{% block body %}
<h1>Les Préstations</h1>
    <section>
        todo:afficher les préstations
    </section>

{% endblock %}

{% block title %}
Les Préstations |{{ parent() }}

{% endblock %}

