{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="contact-title">Demande de prise de contact pour votre projet</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    <button>Valider</button>
    {{form_end(form)}}
{% endblock %}

{% block title %}
    Contact

{% endblock %}

