<nav>
    <ul>
        <li><a href="{{ path('page_home') }}" title="ACCUEIL">ACCUEIL</a></li>
        <li><a href="#" title="A PROPOS">A PROPOS</a></li>
        <li><a href="#" title="PRESTATIONS">PRESTATIONS</a></li>
        <li><a href="#" title="GALERIES">GALERIES</a></li>
        <li><a href="#" title="TEMOIGNAGES">TEMOIGNAGES</a></li>
        <li><a href="#" title="CONTACT">CONTACT</a></li>

        </li>
    </ul>
</nav>